body {
    font-family: "Sawarabi Mincho";
}

h1 {
    font-size: 2rem;
    text-align: center;
    background-color: aquamarine;
    padding: 2rem 0 2rem;
}

.nav {
    margin-top: 2rem;
    text-align: center;
}

.registration {
    display: block;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 2rem auto;
}

th {
    border: solid 2px;
    width: auto;
    height: 2rem;
    padding: 1rem 2rem;
}

tr td {
    font-size: 1rem;
    border: solid 1px;
    padding: 1rem;
}

footer p {
    text-align: center;
}