body {
    font-family: "Sawarabi Mincho";
}

header {
    background-color: aqua;
    height: 2rem;
}

nav {
    margin: 0 2rem;
    line-height: 2rem;
}

main {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0 2rem;
}

main h1 {
    font-size: 2rem;
}


.btn {
    margin-right: auto;
}

.registration {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.input {
    display: inline;
    margin: 1rem auto;
    border: solid 1px;
    border-radius: 5px;
    height: 2rem;
    background-color: darkgrey;
}

.submit_btn {
    border: solid 1px;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    background-color: orange;
    margin: 1rem auto;
    text-align: center;
}

table {
    text-align: center;
    margin: 2rem auto;
}

th {
    background-color: darkorange;
    border: solid 2px;
    width: auto;
    height: 2rem;
    padding: 1rem 2rem;
}

tr td {
    font-size: 1rem;
    border: solid 1px;
    padding: 1rem;
}

footer p {
    text-align: center;
}